@import "variables";
@import "compass/css3";
@import "compass/functions";
@import "compass/reset";

img {
    display: block;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    overflow: auto;
}

::-webkit-scrollbar-thumb {
    background-color: #efefef;
    min-height: 25px;
    min-width: 25px;
    border: 1px solid #efefef;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f7f7f7;
    border: 1px solid #efefef;
}

* {
    @include box-sizing(border-box);
    -webkit-tap-highlight-color: transparent;
}

div {
    cursor: default;
}

body {
    font-family: "PingHei Light", "Microsoft YaHei Light", "微软雅黑", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url('../images/webbg.png') repeat;
    background-size: 43px;
}

h1 {
    font-size: 24px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 48px auto;

    padding: 6px 16px;
    position: relative;
    color: $main-color;
    text-shadow: 0 0 1px lighten($main-color, 20%);
    font-size: 16px;
    line-height: 1.8;
    @include box-sizing(border-box);
}
.audio-area{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 6px 16px;
    display: flex;
    .audio-dispaly{
        color: $main-color;
        font-size: 14px;
        flex: 1;
        >span{
            margin-left: 12px;
            line-height: 40px;
        }
    }
    .play-btn{
        width: 40px;
        height: 40px;
        flex: 0 0 auto;
        &.paused{
            background-image: url('../images/img_play.png');
            background-size: 24px;
            background-repeat: no-repeat;
            background-position: center;
        }
        &.playing{
            background-image: url('../images/img_stop.png');
            background-size: 24px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}



@include keyframes(fadeIn) {
    0% {
        @include opacity(0);
    }
    100% {
        @include opacity(1);
    }
}

@include keyframes(scaleIn) {
    0% {
        @include scale(0);
    }
    100% {
        @include scale(1);
    }
}
